.tr-pointer{
    transition: 0.5s;
}
.tr-pointer:hover{
    background-color: rgb(204, 226, 250);
}
.tr-pointer td{
    text-align: center;
}
.thead-dark{
    color: #fff;
    background-color: #496e91;
    border-color: #32383e;
}
.thead-dark th{
    text-align: center;
}
.card-img-top{
    height: 150px;
    object-fit: cover;
}
.navbar-brand{
    margin-left: 20px;
}
nav .nav-item a, .navbar-brand{
    transition: 0.5s;
}
nav .nav-item a:hover, .navbar-brand:hover{
    color: #8dc6fc;
    text-decoration: underline;
    text-decoration-color: #97c3eb;
    transition: 0.5s;
}