{% extends "base.html.twig" %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Oops, ceci est une erreur 404.</h1>
                <p>Qu'est ce que ça veut dire ?<br>
                    La page demandée n'existe pas, et donc renvoie une erreur 404. N'hésite pas à demander à Milan le pourquoi du comment ;)
                </p>
            </div>
        </section>
    </main>
{% endblock %}